# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [43]:
# Your code goes here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv'

# Load dataset
df = pd.read_csv(url)
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [44]:
#Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign

df2=df[(df['Total Claim Amount']>1000) & (df['Response']=='Yes')]
df2

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,M,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

In [45]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [46]:
#Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

df3=df[df['Response']=='Yes']

# Create the pivot table
pivot_table_tca = df3.pivot_table(values='Total Claim Amount', index='Policy Type',columns='Gender', aggfunc='mean')

# Round the pivot table
pivot_table_tca = pivot_table_tca.round(2)

# Show the result
print(pivot_table_tca)

Gender               F       M
Policy Type
Corporate Auto  433.74  408.58
Personal Auto   452.97  457.01
Special Auto    453.28  429.53

In [47]:
#Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

df['State'].value_counts()

State
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64

In [48]:
#Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.
# Groupby data by state to count the number of clients
customers_by_state = df.groupby('State').size().reset_index(name='Number of customers')

# Filter the states with more than 500 customers
states_500_customers = customers_by_state[customers_by_state['Number of customers'] > 500]

# Show the results
print(states_500_customers)

        State  Number of customers
0     Arizona                 1937
1  California                 3552
2      Nevada                  993
3      Oregon                 2909
4  Washington                  888

In [49]:
#Find the maximum customer lifetime value by education level and gender. Write your conclusions.

# Create the pivot table
pivot_table_maximum_clv = df.pivot_table(values='Customer Lifetime Value', index='Education', columns='Gender', aggfunc='max')

# Round the pivot table
pivot_table_maximum_clv = pivot_table_maximum_clv.round(2)

# Show the result
print(pivot_table_maximum_clv)

Gender                       F         M
Education
Bachelor              73225.96  67907.27
College               61850.19  61134.68
Doctor                44856.11  32677.34
High School or Below  55277.45  83325.38
Master                51016.07  50568.26

In [50]:
#Find the minimum customer lifetime value by education level and gender. Write your conclusions.

# Create the pivot table
pivot_table_minimum_clv = df.pivot_table(values='Customer Lifetime Value', index='Education', columns='Gender', aggfunc='min')

# Round the pivot table
pivot_table_minimum_clv = pivot_table_minimum_clv.round(2)

# Show the result
print(pivot_table_minimum_clv)

Gender                      F        M
Education
Bachelor              1904.00  1898.01
College               1898.68  1918.12
Doctor                2395.57  2267.60
High School or Below  2144.92  1940.98
Master                2417.78  2272.31

In [51]:
#Find the median customer lifetime value by education level and gender. Write your conclusions.
# Create the pivot table
pivot_table_mean_clv = df.pivot_table(values='Customer Lifetime Value', index='Education', columns='Gender', aggfunc='mean')

# Round the pivot table
pivot_table_mean_clv = pivot_table_mean_clv.round(2)

# Show the result
print(pivot_table_mean_clv)

Gender                      F        M
Education
Bachelor              7874.27  7703.60
College               7748.82  8052.46
Doctor                7328.51  7415.33
High School or Below  8675.22  8149.69
Master                8157.05  8168.83

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [57]:
# The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

# Create the pivot table
pivot_table_nop = df.pivot_table(values='Number of Policies', index='State', columns='Months Since Policy Inception', aggfunc='sum')

# Round the pivot table
pivot_table_nop = pivot_table_nop.round(2)

# Show the result
print(pivot_table_nop)

Months Since Policy Inception   0    1    2    3    4   5   6   7   8    9   \
State
Arizona                         53   44   36   67   43  54  70  27  61   44
California                     189  107   70  114  143  80  92  87  93  143
Nevada                          18   14   24   24   24  14   6  32  51   37
Oregon                          54   99  123   91   67  88  73  88  83   95
Washington                      25   25   39   29   16  15  11  17  21    5

Months Since Policy Inception  ...  90   91  92  93  94  95  96  97  98   99
State                          ...
Arizona                        ...  40   55  47  53  92  33  17  18  34   70
California                     ...  87   50  60  63  70  63  76  50  58  117
Nevada                         ...  34   27   2  43   9  38  12  21  20   15
Oregon                         ...  54  119  97  82  54  57  62  67  50   59
Washington                     ...  55   18  20  26  16  23  19   5  28   19

[5 rows x 100 columns]

In [58]:
#Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

# Group by state
policies_by_state = df.groupby(['State'])['Number of Policies'].sum().reset_index()

# Find the top 3 states
top_3_states = policies_by_state.sort_values(by='Number of Policies', ascending=False).head(3)

# Filter the df by the top 3 states
filtered_df = df[df['State'].isin(top_3_states['State'])]

# Group by state and months, then count
policies_by_state_month = filtered_df.groupby(['State', 'Months Since Policy Inception']).size().reset_index(name='Number of policies sold')

# Create the pivot table
pivot_table_top3 = policies_by_state_month.pivot_table(values='Number of policies sold', 
                                                       index='State', 
                                                       columns='Months Since Policy Inception', 
                                                       aggfunc='sum')

# Show the results
print(pivot_table_top3)

Months Since Policy Inception  0   1   2   3   4   5   6   7   8   9   ...  \
State                                                                  ...
Arizona                        16  11  14  28  17  19  19  13  17  19  ...
California                     45  34  27  38  37  32  27  33  33  44  ...
Oregon                         21  27  40  40  27  29  25  25  22  32  ...

Months Since Policy Inception  90  91  92  93  94  95  96  97  98  99
State
Arizona                        15  20  21  21  26  16  11   9  14  24
California                     28  19  22  27  26  28  26  20  20  32
Oregon                         22  28  30  30  18  17  21  18  13  16

[3 rows x 100 columns]

In [59]:
#The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

# Count yes by sales channel
response_rate_by_channel = df3.groupby('Sales Channel').size().reset_index(name='Number of Yes Responses')

# Show the results
print(response_rate_by_channel)

  Sales Channel  Number of Yes Responses
0         Agent                      742
1        Branch                      326
2   Call Center                      221
3           Web                      177